<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Prático - Conteiner</title>
    <link rel="stylesheet" href="/assets/css/global.css">
</head>

<body>

    <div>
        <label>Numero conteiner</label>
        <input type="text" id="numero_conteiner" />

    </div>

    <div>
        <label>Tipo</label>
        <input type="text" id="tipo" />
    </div>

    <div>
        <label>Status</label>
        <input type="text" id="status" />
    </div>

    <div>
        <label>Categoria</label>
        <input type="text" id="categoria" />
    </div>

    <div>
        <label>Cliente</label>
        <input type="text" id="cliente" />
    </div>

    <button id="submit">Salvar</button>

    <table>
        <thead>
            <tr>
                <th>Numero do conteiner</th>
                <th>Tipo</th>
                <th>Status</th>
                <th>Categoria</th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>
    <script src="/assets/js/index.js"></script>
</body>

</html>