<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Prático - Conteiner</title>
    <link rel="stylesheet" href="/assets/css/global.css">
</head>

<body>

    <div>
        <label>Tipo da movimentacao</label>
        <input type="text" id="tipo" />

    </div>

    <div>
        <label>Inicio</label>
        <input type="date" id="inicio" />
    </div>


    <div>
        <label>Fim</label>
        <input type="date" id="fim" />
    </div>


    <button id="submit">Salvar</button>

    <table>
        <thead>
            <tr>
                <th>Tipo da movimentacao</th>
                <th>Inicio</th>
                <th>Fim</th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>
    <script src="/assets/js/movimentacoes.js"></script>
</body>

</html>